@model Mya.Models.Account

@{
    ViewData["Title"] = "用户信息";
}


<h2>用户信息</h2>

<div>
    <img class="img-circle" style="height:150px;width:150px" src="~/images/head/default-1.jpg" alt="头像" />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userPwd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userPwd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userSex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userSex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.userId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
